# Mithril code owners

# Default owners (repository maintainers)
*                              @jpraynaud @Alenar @turmelclem @damrobi

# Cryptography: Stake-based Threshold Multisignatures
/mithril-stm/                  @jpraynaud @damrobi

